
#logo-size {
    width: 4%;
    height: auto;
}

body {
    background-color: #FCF2E6;
}

.border {
    color: #BD0606;
}

.btn {
    background-color: #BD0606;
    border-color: #BD0606;
}

.character-font {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.table-emphasize-fever {
    background-color: #f59797;
}

.table-emphasize-sick {
    background-color: #84b5f5;
}

.table-emphasize-none {
    background-color: #e5f088;
}

.mypage{
    position: relative;
    width: 600px;
    padding: 5px 26px 5px 42px;
    font-size: 30px;
    color: #2d2d2d;
    line-height: 1.3;
    border-bottom: solid 3px orange;
    z-index:-2;
}

.flasher {
    background-color: #f1aaaa;
    color: #ffffffdc;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* .mypage:before{
    position: absolute;
    content: '';
    left: -2px;
    top: -2px;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 40px white;
    border-bottom: solid 79px transparent;
    z-index: -1;
}

.mypage:after{
    position: absolute;
    content: '';
    right: -3px;
    top: -7px;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 40px transparent;
    border-bottom: solid 79px white;
    z-index: -1;
} */
