#logo-size {
    width: 4%;
    height: auto;
}

body {
    background-color: #FCF2E6;
}

.border {
    color: #BD0606;
}

.btn {
    background-color: #BD0606;
    border-color: #BD0606;
}

.character-font {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.table-emphasize-fever {
    background-color: #f59797;
}

.table-emphasize-sick {
    background-color: #84b5f5;
}

.table-emphasize-none {
    background-color: #e5f088;
}
