{% extends "layout.html" %}

{% block title %}
    管理者ページ
{% endblock %}

{% block main %}

    <!-- エラーメッセージ -->
    <p style="color:red">{{ message }}</p>
    
    <h3 class="mb-4">{{ date_display }}</h3>
    
    <div class="col-5 ml-3 container-fluid">
        <div class="card-header table-emphasize-fever">発熱者</div>
        <table class="table table-hover">
            <thead class="table-active">
                <tr>
                    <th>名前</th>
                    <th>体温</th>
                </tr>
            </thead>
            <tbody>
                {% for fever in fevers %}
                    <tr>                    
                        <td>{{ fever["user_name"] }}</td>  
                        <td>{{ fever["temperature"] }}&#x2103;</td>                  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="col-5 ml-3 container-fluid">
        <div class="card-header table-emphasize-sick">体調不良者</div>
        <table class="table table-hover">
            <thead class="table-active">
                <tr>
                    <th>名前</th>
                    <th>頭痛</th>
                    <td>咳</td>
                    <td>倦怠感</td>
                    <td>味覚・嗅覚の異常</td>
                    <td>鼻水</td>
                    <td>備考</td>
                </tr>
            </thead>
            <tbody>
                {% for poor_condition in poor_conditions %}
                    <tr>                    
                        <td>{{ poor_condition["user_name"] }}</td>  
                        <td>{{ poor_condition["headache"] }}</td>
                        <td>{{ poor_condition["cough"] }}</td> 
                        <td>{{ poor_condition["fatigue"] }}</td>            
                        <td>{{ poor_condition["abnormal"] }}</td>
                        <td>{{ poor_condition["runny"] }}</td>
                        <td>{{ poor_condition["memo"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="col-5 ml-3 container-fluid">
        <!-- <div class="card-header table-emphasize-none">未記入者</div> -->
        <table class="table table-hover">
            <thead class="table-emphasize-none">
                <tr>
                    <th>未記入者</th>
                </tr>
            </thead>
            <tbody>
                {% for no_record in no_records %}
                    <tr>                    
                        <td>{{ no_record }}</td>  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a href="/adminrole">管理者権限変更</a>
    </div>
{% endblock %}