{% extends "layout.html" %}

{% block title %}
    グループ編集
{% endblock %}

{% block main %}

    <!-- エラーメッセージ -->
    <p style="color:red">{{ message }}</p>

    <p>
        管理者画面に入れるメンバーを編集できます。<br>
        下のリストはメンバーが一覧で表示され、管理者かどうかを確認することができます。<br>

    </p>

    <div>
        <form action="/adminrole" method="post">
            <p>ユーザーID</p>
            <input type="text" name="user_id">
            <p>権限</p>
            <select name="role">
                <option value="admin" selected>管理者</option>
                <option value="ippan">一般</option>
            </select>
            <br>
            <br>
            <button class="btn btn-primary" type="submit">変更</button>
        </form>
        <br>
    </div>


    <div class="col-5 ml-3 container-fluid">
        <div class="card-header table-emphasize-sick">チームメンバーリスト</div>
        <table class="table table-hover">
            <thead class="table-active">
                <tr>
                    <th>ユーザーネーム</th>
                    <th>ID</th>
                    <th>権限</th>
                </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                <tr>
                    <td>{{ list["user_name"] }}</td>
                    <td>{{ list["user_id"] }}</td>
                    <td>{{ list["role"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>

    </div>



{% endblock %}