{% extends "layout.html" %}

{% block title %}
グループ作成
{% endblock %}

{% block main %}
    <h1>グループ作成</h1>
    <!-- エラーメッセージ -->
    <p style="color:red">{{ message }}</p>

    <form action="/register" method="post">
        <p>団体名</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="groupname" name="groupname" placeholder="団体名" type="text">
        </div>
        <p>パスワード</p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="パスワード" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="再入力" type="password">
        </div>
        <button class="btn btn-primary" type="submit">登録</button>
    </form>
{% endblock %}