{% extends "layout.html" %}

{% block title %}
    グループ作成
{% endblock %}

{% block main %}
    <h1 class="mt-4 mb-5">グループ作成</h1>
    <!-- エラーメッセージ -->
    <p style="color:red">{{ message }}</p>

    <form action="/groupcreate" method="post">
        <p>グループ名</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="groupname" name="groupname" placeholder="グループ名" required type="text">
        </div>
        <button class="btn btn-primary" type="submit">登録</button>
    </form>
{% endblock %}