{% extends "layout.html" %}

{% block title %}
    グループ参加
{% endblock %}

{% block main %}
    <h1 class="mt-4 mb-5">グループ参加</h1>
    <!-- エラーメッセージ -->
    <p style="color:red">{{ message }}</p>

    <form action="/groupadd" method="post">
        <p>グループID</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="groupid" name="groupid" placeholder="グループID" required type="text">
        </div>
        <button class="btn btn-primary" type="submit">参加</button>
    </form>

    <footer class="mb-5 small text-center text-muted"></footer>
        <p>グループを抜けたい方は<a class="nav-item hobercolor" href="/groupgetout">こちら</a>を押してください</p>

{% endblock %}