{% extends "layout.html" %}

{% block title %}
    マイページ
{% endblock %}

{% block main %}
    <h1>マイページ</h1>
    <table class="table">
            <tr>
                <th>日付</th>
                <th>頭痛</th>
                <th>咳</th>
                <th>倦怠感</th>
                <th>嗅覚・味覚の異常</th>
                <th>鼻水</th>
            </tr>
        <tbody>
            {% for d in details %}
                <tr>
                    <td>{{ d.datetime }}</td>
                    <td>{{ d.headache }}</td>
                    <td>{{ d.cough }}</td>
                    <td>{{ d.fatigue }}</td>
                    <td>{{ d.abnormal }}</td>
                    <td>{{ d.runny }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
