{% extends "layout.html" %}

{% block title %}
    マイページ
{% endblock %}

{% block main %}
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <h2 class="mypage">マイページ</h3>

    {{ image_tag | safe }}

    <table class="table">
        <tbody>
            {% for d in all %}
                <tr>
                    <td>{{ d.datetime }}</td>
                    <td>体温：{{ d.temperature }}</td>
                    <td>頭痛：{{d.headache }}</td>
                    <td>咳：{{ d.cough }}</td>
                    <td>倦怠感：{{ d.fatigue }}</td>
                    <td>味覚・嗅覚の異常：{{ d.abnormal }}</td>
                    <td>鼻水：{{ d.runny }}</td>
                    <td>備考：{{ d.memo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
