{% extends "layout.html" %}

{% block title %}
    アカウント登録
{% endblock %}

{% block main %}
    <h1 class="mt-4 mb-5">アカウント登録</h1>
    <!-- エラーメッセージ -->
    <p style="color:red">{{ message }}</p>

    <form action="/register" method="post">
        <p>ユーザーID</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="userid" name="userid" placeholder="メールアドレス" type="text" value="">
        </div>
        <p>名前</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="user_name" name="user_name" placeholder="名前" type="text" value="">
        </div>
        <p>パスワード</p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="パスワード" type="password" value="">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="再入力" type="password" value="">
        </div>
        <button class="btn btn-primary" type="submit">登録</button>
    </form>
{% endblock %}